<h1>Bienvenue dans la boutique de chatons</h1>

<!-- Bouton pour créer une nouvelle carte -->
<%= link_to 'Créer une nouvelle carte', new_picture_path, class: 'btn btn-success mb-4' %>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @pictures.each do |picture| %>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <% if picture.image.attached? %>
            <%= image_tag picture.image, class: "card-img-top img-fluid", alt: picture.name %>
          <% else %>
            <%= image_tag 'default_image.jpg', class: "card-img-top img-fluid", alt: "Image par défaut" %>
          <% end %>
          <h5 class="card-title"><%= picture.name %></h5>
          <p class="card-text"><%= picture.breed %></p>
          
          <!-- Boutons d'action pour afficher, modifier et supprimer -->
          <%= link_to 'Show', picture_path(picture), class: 'btn btn-info btn-sm' %>
          <%= link_to 'Edit', edit_picture_path(picture), class: 'btn btn-warning btn-sm' %>
          <%= link_to 'Delete', picture_path(picture), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
