<!-- app/views/home/shop.html.erb -->

<div class="container mt-5">
  <!-- Lien pour ajouter un nouveau chat -->
  <div class="mb-3">
  
  </div>

  <div class="card-wrapper d-flex flex-wrap">
    <% if @pictures.present? %>
      <% @pictures.each do |picture| %>
        <div class="card m-2" style="width: 18rem;">
          <img src="<%= picture.image %>" class="card-img-top" alt="<%= picture.name %>">
          <div class="card-body">
            <h5 class="card-title">
            <%= link_to picture.name, picture_path(picture), class: "text-decoration-none" %>

            </h5>
            <p class="card-text"><strong>Âge :</strong> <%= picture.age %> ans</p>
            <p class="card-text"><strong>Race :</strong> <%= picture.breed %></p>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>Aucun chat trouvé.</p>
    <% end %>
  </div>
</div>
