<h1 class="text-center"><%= @picture.name %></h1>

<% if @picture.image.attached? %> <!-- Vérifie si une image est attachée -->
  <div class="photo-item">
    <%= image_tag @picture.image.variant(resize_to_limit: [300, 300]).processed, class: "mx-auto d-block", alt: @picture.name, style: "max-width: 300px; height: auto;" %>
  </div>
<% else %>
  <p>Aucune image attachée.</p>
  <%= image_tag 'default_image.jpg', class: "img-fluid mx-auto d-block", alt: "Image par défaut" %>
<% end %>

<p><strong>Age:</strong> <%= @picture.age %></p>
<p><strong>Breed:</strong> <%= @picture.breed %></p>

<div class="text-center mt-3">
  <%= link_to 'Edit', edit_picture_path(@picture), class: 'btn btn-warning' %> |
</div>
