<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Projet Chaton" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <!-- L'utilisateur est connecté, afficher un bouton de déconnexion -->
      <div>
        <p>Bienvenue, <%= current_user.email %>!</p>
        <%= form_with url: destroy_user_session_path, method: :delete, style: "display:inline;" do %>
          <%= submit_tag 'Déconnexion' %>
        <% end %>
      </div>
    <% else %>
      <!-- L'utilisateur n'est pas connecté, afficher les boutons S'inscrire et Se connecter -->
      <div>
        <%= link_to 'S\'inscrire', new_user_registration_path %> |
        <%= link_to 'Se connecter', new_user_session_path %>
      </div>
    <% end %>

    <%= yield %> <!-- Cela va afficher le contenu de chaque vue spécifique -->
  </body>
</html>
