<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Projet Chaton" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% if user_signed_in? %>
  <!-- L'utilisateur est connecté, afficher un bouton de déconnexion -->
  <div>
    <p>Bienvenue, <%= current_user.email %>!</p>
    <%= form_with url: destroy_user_session_path, method: :delete, style: "display:inline;" do %>
      <%= submit_tag 'Déconnexion' %>
    <% end %>
  </div>
<% end %>

<!-- Liens de navigation -->
<ul>
  <li><%= link_to 'Contactez-nous', contact_path %></li>
  
  <% unless user_signed_in? %>
    <li><%= link_to 'Inscription', signup_path %></li>
    <li><%= link_to 'Connexion', login_path %></li>
  <% end %>
  
  <li><%= link_to 'Boutique', shop_path %></li>

  <% if user_signed_in? && current_user.admin? %>
    <li><%= link_to 'Admin', admin_path %></li>
  <% end %>
</ul>



<%= yield %> <!-- Affichage du contenu de chaque vue spécifique -->

  </body>
</html>
